In [1]:
# Cell 1: Imports & Config
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path

# Config
ROOT_DIR = Path.cwd().parents[0]
PARQUET_DIR = ROOT_DIR / "data" / "decoded"

# Load one file to start
file_path = sorted(PARQUET_DIR.rglob("*.parquet"))[0]
print(f"Using: {file_path.name}")

Using: 50000006_00000002.parquet

In [2]:
# Cell 2: Load Data
df = pd.read_parquet(file_path)
print("Columns:", df.columns.tolist())
df.head()

Columns: ['t', 'APP_environmentRainy', 'APP_environmentSnowy']

                                 t  APP_environmentRainy  APP_environmentSnowy
0 2025-03-07 23:26:44.872400+00:00                   1.0                   1.0
1 2025-03-07 23:26:44.972400+00:00                   1.0                   1.0
2 2025-03-07 23:26:45.072400+00:00                   1.0                   1.0
3 2025-03-07 23:26:45.172400+00:00                   1.0                   1.0
4 2025-03-07 23:26:45.272400+00:00                   1.0                   1.0

In [5]:
# STEP 1: Print all column names in the Parquet file
for col in df.columns:
    print(col)

t
APP_environmentRainy
APP_environmentSnowy

In [6]:
# STEP 1: Print all column names in the Parquet file
for col in df.columns:
    print(col)

t
APP_environmentRainy
APP_environmentSnowy

In [7]:
signals = [col for col in df.columns if col.startswith(("DAS_", "DI_", "UI_"))]
df_filtered = df[["t"] + signals]
print(f"Found {len(signals)} signals of interest.")
df_filtered.head()

Found 0 signals of interest.

                                 t
0 2025-03-07 23:26:44.872400+00:00
1 2025-03-07 23:26:44.972400+00:00
2 2025-03-07 23:26:45.072400+00:00
3 2025-03-07 23:26:45.172400+00:00
4 2025-03-07 23:26:45.272400+00:00